.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4682B4; /* English Blue Color */
  }
  
  .login-container {
    text-align: center;
    padding: 50px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    color: #333;
  }
  
  p {
    margin-top: 20px;
  }
  